.profile {
  width: 24vw;
    padding: 4vh 3vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: cover !important;
    background-repeat: no-repeat;
    position: fixed;
    color: var(--text-color) !important;
}
.content {
  width: 100%;
  padding: 4vh 3vw;
  height: 92vh;
  display: inline-block;
  padding-left: 26vw;
}
/* @keyframes moveright {
  from {margin-left: 10vw;}
  to {margin-left: 20vw;}
} */